body{
	background: -webkit-linear-gradient(#F8F8F8, #FFFFFF);
	background: -moz-linear-gradient(#F8F8F8, #FFFFFF);
	background: -ms-linear-gradient(#F8F8F8, #FFFFFF);
	background: -o-linear-gradient(#F8F8F8, #FFFFFF);
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}

input[type=text].search, input[type=search]{
	background: url(../img/icon-search.png) #FFFFFF no-repeat right center;
}

.win-login {
	border: 0;
	/* width: 340px;
	height: 360px; */
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 0 8px #CCCCCC;
	position: absolute;
	z-index: 1000;
	left: 50%;
	margin-left: -340px;
	top: -320px;
	margin-top: -150px;
	transition: top 0.5s;
}
.win-login.show{
	top: 50%;
}
.topbar{
	width: 100%;
	height: 48px;
	/*background: -webkit-linear-gradient(#F8F8F8, #F0F0F0);
	background: -moz-linear-gradient(#F8F8F8, #F0F0F0);
	background: -o-linear-gradient(#F8F8F8, #F0F0F0);
	background: linear-gradient(#F8F8F8, #F0F0F0) #F8F8F8;
	background: #FFFFFF !important;*/
	z-index: 100;
}
.blue .topbar{
	background-color: #3399CC;
}
.green .topbar{
	background-color: #99CC33;
}
.navy .topbar{
	background: url(../img/bg-top.png) 0 bottom no-repeat #1f69e9;
	color: #FFFFFF;
	box-shadow: 0 1px 5px #D3D3D3;
}
.topbar .logo{
	line-height: 44px;
	font-size: 20px;
	padding-left: 20px;
	font-family: "microsoft yahei", simhei, arial;
	white-space: nowrap;
}
.topbar .logo img{
	vertical-align: top;
	margin-top: 8px;
	max-height: 40px;
}
.topbar .nav{
	position: absolute;
	right: 10px;
	top: 0;
	height: 48px;
}
.topbar .nav li, .topbar .icon-nav{
	/* width: 48px; */
	height: 48px;
	line-height: 48px;
	padding: 0 12px;
	text-align: center;
	float: left;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	background-repeat: no-repeat;
	transition: background-color 0.3s;
}
.topbar .nav li.splitor{
	width: 0;
	border-right: 1px solid #003366;
}
.topbar .nav li:hover, .topbar .nav li.selected, .topbar .icon-nav:hover, .topbar .icon-nav.current, .topbar .nav li.current{ 
	background-color: #FFFFFF;
	color: #0c5ca9;
}
.topbar .nav li:before, .topbar .icon-nav:before{
	font-size: 20px;
	font-family: "FontAwesome", "microsoft yahei";
	margin: 0;
}
.topbar .nav li:before{
	position: absolute;
	left: 12px;
	right: 12px;
	top: -9px;
	text-align: center;
}
.topbar .nav li:hover .thumbnail-win{
	display: block;
}
.topbar .nav li:not(.datetime) span{
	line-height: 72px;
	white-space: no-wrap;
}
.topbar .nav li.datetime{width: auto;}
.topbar .nav li.datetime span{margin: 0 5px;}
.topbar .nav li.datetime, .topbar .nav li.datetime:hover{
	background-color: transparent;
	padding: 0 10px;
	cursor: default;
	color: #FFFFFF;
}
.topbar .nav li.home{
	background-image: url(../img/icons-menu.png);
	background-position: center -1976px;
}
.topbar .nav li.home:hover, .topbar .nav li.home.current{
	background-position: center -1896px;
}
.topbar .nav li.service{
	background-image: url(../img/icons-menu.png);
	background-position: center -2136px;
}
.topbar .nav li.service:hover,.topbar .nav li.service.current{
	background-position: center -2056px;
}
.topbar .nav li.business{
	background-image: url(../img/icons-menu.png);
	background-position: center -2296px;
}
.topbar .nav li.business:hover,.topbar .nav li.current{
	background-position: center -2216px;
}
.topbar .nav li.tools{
	background-image: url(../img/icons-menu.png);
	background-position: center -2456px;
}
.topbar .nav li.tools:hover,.topbar .nav li.tools.current{
	background-position: center -2376px;
}
.topbar .icon-nav{
	position: absolute;
	right: 0px;
	top: 0;
	float: none;
	display: none;
}

/**
 * 消息提示
 */
.topbar .nav .popcount{
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	background-color: orange;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	width: 17px;
	height: 17px;
	line-height: 16px;
	border-radius: 50%;
}

/**
 * 浮动信息面板
 */
.thumbnail-win{
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	width: 200px;
	height: auto;
	position: absolute;
	z-index: 999;
	top: 44px;
	right: 0;
	overflow: hidden;
	color: #666666;
	font-size: 12px;
	line-height: 24px;
	text-align: left;
	display: none;
	padding: 1px;
	cursor: default;
}
.thumbnail-win .sp{
	margin: 0 !important;
	padding: 5px 15px !important;
	border-bottom: 1px solid #CCCCCC !important;
}
.thumbnail-win .op, .thumbnail-win a{
	cursor: pointer;
}
.thumbnail-win .op{
	margin: 0 !important;
	padding: 5px 15px !important;
	border-bottom: 0;
}
.thumbnail-win .op:hover{
	background-color: #99CC33;
	color: #FFFFFF;
}
.thumbnail-win :before, .thumbnail-win :after{
	font-family: "FontAwesome";
	margin-right: 10px;
}
.thumbnail-win .item{
	border-bottom: 1px dashed #DDDDDD;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/**
 * 拨号盘样式
 */
.dialPanel{
	width: 750px !important;
	height: 400px !important;;
}
.dialPanel .panel-title i{
	font-size: 14px;
	margin-right: 8px;
}
.dialPanel .panel-body > div{
	position: absolute;
	top: 0;
	bottom: 0;
}
.dialPanel .panel-body .keyboard{
	left: 0;
	width: 300px;
	margin-right: 10px;
}
.dialPanel .panel-body .keyboard .showNum{
	margin: 10px 0;
}
.dialPanel .panel-body .keyboard input{
	height: 64px;
	line-height: 64px;
	width: 210px;
	font-size: 32px;
	margin-left: 5px;
	border: 1px solid transparent;
	box-shadow: none;
	color: #333333;
	background: transparent;
	vertical-align: middle;
	ime-mode: disabled;
}
.dialPanel .panel-body .keyboard button{
	width: 50px;
	height: 50px;
	vertical-align: middle;
	border: 0;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 32px;
}
.dialPanel .panel-body .keyboard i{
	display: inline-block;
	float: left;
	font-style: normal;
	font-size: 28px;
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	margin: 5px 0 5px 10px;
	border: 1px solid #E8E8E8;
	cursor: pointer;
}
.dialPanel .panel-body .keyboard i.icon-phone{
	width: 62px;
	height: 62px;
	line-height: 64px;
	font-size: 32px;
	margin-right: 8px;
	float: none;
	margin: 0;
	border: 0;
	vertical-align: middle;
	background-color: #00A5E2;
	color: #FFFFFF;
	cursor: pointer;
}
.dialPanel .panel-body .keyboard i.clear{
	font-size: 18px;
	line-height: 60px;
}
.dialPanel .panel-body .keyboard i:hover{
	background-color: #99CC33;
	color: #FFFFFF;
}
.dialPanel .panel-body .keyboard .splitor{
	display: block;
	height: 0;
	margin: 20px 5px;
	border-top: 1px solid #EEEEEE;
}
.dialPanel .panel-body .dialList{
	left: 305px;
	right: 0;
	border-left: 1px solid #EEEEEE;
}
.dialPanel .panel-body .dialList .latest{
	width: 168px;
	padding: 1px;
}
.dialPanel .panel-body .dialList .addressBook{
	left: 170px;
	border-left: 1px solid #EEEEEE;
	overflow-y: hidden;
	/*box-shadow: inset 0 0 5px #EEEEEE;
	background-color: #F3F8FC;*/
}
.dialPanel .panel-body .dialList .latest header{
	line-height: 30px;
	font-size: 14px;
	color: #00A5E2;
	padding-left: 5px;
	border-bottom: 1px solid #00A5E2;
}
.dialPanel .dialList .latest dl{
	border-bottom: 1px solid #DDDDDD;
	line-height: 20px;
	padding-left: 5px;
	font-size: 12px;
	text-align: left;
	cursor: default;
}
.dialPanel .dialList .latest .tel{
	line-height: 30px;
	font-size: 14px;
	color: #333333;
}
.dialPanel .dialList .latest .tel:hover{
	text-decoration: underline;
	color: #00A5E2;
	cursor: pointer;
}
.dialPanel .dialList .latest .name, .dialPanel .dialList .latest .time{
	display: inline-block;
	color: #AAAAAA;
}
.dialPanel .dialList .latest .name{
	width: 50px;
}
.dialPanel .dialList .latest .time{
	width: 105px;
	text-align: right;
}


/**
 * 头部工具条浮动面板样式
 */
.icon-openlink .thumbnail-win{}

.icon-user .thumbnail-win{}
.icon-user .thumbnail-win > div{
	margin: 5px 15px 0;
}
.icon-user .thumbnail-win .portrait > div{
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0;
}
.icon-user .thumbnail-win .portrait > div:first-child{
	width: 48px;
	height: 48px;
	border: 1px solid #CCCCCC;
}
.icon-user .thumbnail-win .portrait > div:last-child{
	width: 100px;
	padding-left: 10px;
}
.icon-user .thumbnail-win .portrait img{
	width: 100%;
	transition: opacity 0.5s;
}
.icon-user .thumbnail-win .portrait img:hover{
	opacity: 0.8;
}
.icon-user .thumbnail-win .op.modifypwd:before{
	content: "\f084";
}
.icon-user .thumbnail-win .op.hotkey:before{
	content: "\f11c";
}


.icon-msgbox .thumbnail-win{
	width: 280px;
}
.icon-msgbox .thumbnail-win .tips{
	color: orange;
	line-height: 30px;
	padding: 0 15px;
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;
}
.icon-msgbox .thumbnail-win > dl{
	padding: 5px 15px;
	color: #BBBBBB;
	border-bottom: 1px dashed #DDDDDD;
	cursor: pointer;
}
.icon-msgbox .thumbnail-win > dl:hover{
	color: #FFFFFF;
	background-color: #99CC33;
}
.icon-msgbox .thumbnail-win dt{
	font-size: 14px;
	/*font-family: simhei;*/
}
.icon-msgbox .thumbnail-win dt .time, .icon-msgbox .thumbnail-win .unread dt .time{
	display: inline;
	font-weight: normal;
	font-size: 12px;
	margin-top: 1px;
	float: right;
}
.icon-msgbox .thumbnail-win dd{
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.icon-msgbox .thumbnail-win .unread{
	color: #666666;
}
.icon-msgbox .thumbnail-win .unread dt{
	font-weight: bold;
	/*color: #006699;*/
}
.icon-msgbox .thumbnail-win .unread dt:before{
	content: "\f0e0";
	margin-right: 5px;
}
.icon-msgbox .thumbnail-win .unread:hover dt, .icon-msgbox .thumbnail-win .unread:hover dt:before{
	color: #FFFFFF;
}

.mainBlock, .workBench{
	top: 48px; 
	overflow: hidden; 
}
.mainBlock{
	/*padding: 10px;*/
	display: none;
}
.mainBlock iframe{
	width: 100%;
	height: 100%;
}
.workBench{
	padding: 5px;
	display: none;
}


.notification{
	display: none;
	width: 250px;
	height: 150px;
	position: absolute;
	right: 2px;
	bottom: -120px;
	z-index: 999;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px 1px #CCCCCC;
	padding: 1px;
	border-radius: 3px;
}
.notification header{
	height: 30px;
	background-color: #006699;
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 2px;
}
.notification header i{
	margin-right: 3px;
}
.notification .content{
	padding: 10px;
	line-height: 20px;
	font-size: 13px;
}
.notification .close{
	right: 6px;
	top: 6px;
}


/**
 * 较小屏幕
 */
@media only screen and (max-width: 800px) {
	.topbar .nav{
		display: none;
		top: 44px;
		right: 1px;
		height: auto;
		background-color: rgba(255,255,255,0.95);
		box-shadow: 0 0 5px #CCCCCC;
		width: 140px;
	}
	.topbar .nav.show{
		display: block;
	}
	.topbar .nav li{
		text-align: left;
		float: none;
		width: auto;
		color: #555555;
	}
	.topbar .nav li:hover, .topbar .nav li:hover, .topbar .nav li.selected{
		color: #FFFFFF;
	}
	.topbar .nav li.splitor{
		height: 0;
		width: 100%;
		border-right: 0;
		border-bottom: 1px solid #EEEEEE;
	}
	.topbar .nav li.dateboard, .topbar .nav li.timeboard, .topbar .nav li.splitor.wide, .topbar .nav li:hover .thumbnail-win{
		display: none;
	}
	.topbar .nav li:before{
		display: inline-block;
		width: 44px;
		height: 44px;
		line-height: 44px;
		text-align: center;
	}
	.topbar .nav li span{
		display: inline;
	}
	.topbar .nav .popcount{
		position: initial;
		display: inline-block;
		margin-left: 3px;
	}
	.topbar .icon-nav{
		display: block;
	}
}

/**
 * simple 样式
 */
.simple .topbar, .simple .sessionBox .msgbar, .simple .sessionBox .dialoglist{
	color: #333333;
}
.simple .topbar{
	background-color: #F8F8F8;
	border-bottom: 1px solid #EEEEEE;
}
.simple .mainBlock, .workBench{
	top: 49px;
}
.simple .sessionBox > .layout-bottom{
	background-color: #F8F8F8;
}
.simple .sessionBox .msgbar{
	background: #F8F8F8 -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
}
.simple .sessionBox .dialoglist{
	background: #FDFDFD;
	border-right: 1px solid #EEEEEE;
}
.simple .sessionBox .dialoglist > ul{
	padding: 5px 1px;
}
.simple .sessionBox .dialoglist li, .simple .dialoglist .box.current{
	border-radius: 0;
	border-top: 1px solid #ddd;
	margin-bottom: 0;
	color: #666666;
	padding: 1px 5px 6px;
}
.simple .sessionBox .dialoglist li:last-child{
	border-bottom: 1px solid #ddd;
}
.simple .sessionBox .arrow-collapse, .simple .dialoglist.collapse .arrow-collapse:hover i:before{
	color: #666666;
}
.simple .dialoglist .box.timeout{
	background: #EEEEEE;
	color: #888888;
	text-shadow: 0 1px 1px #FFFFFF;
}
.simple .dialoglist .box.current{
	background: rgba(222, 240, 249, 0.8);
	color: #333333;
}
.simple .sessionBox .msgbar .toolbar li.current, .simple .toolbar .timeSort .btn.enable, .simple .user-info .info-complete{
	background-color: #7DAD1F;
}
.simple .dialoglist .box.current .arrow{
	display: none;
}
