.contain{height: 100%;position: relative;}
.mainLeft{height:100%;background:#fff;border-right:1px #e7e6e7 solid;width: 210px; position: absolute;top: 0;left: 0;}
.mainLeft .naver{width: 90%;margin: 0 auto;}
.mainLeft .naver li{ border-bottom: 1px #E7E6E6 solid;}
.mainLeft .naver li a{padding-left:42px;margin: 10px 0; color: #666666;display: block;line-height: 36px;text-decoration: none;background: url(../img/bgIcon.png) no-repeat;}
.mainLeft .naver li.ptfw a{background-position: 18px -478px;}
.mainLeft .naver li.ptfw.cur a{color: #fff; background:#0c5ca9 url(../img/iconbg21.png) 20px center  no-repeat;}
.mainLeft .naver li.ptfw:hover a{color: #fff; background:#0c5ca9 url(../img/iconbg21.png) 20px center  no-repeat;}
.mainLeft .naver li.ptyy a{background-position: 18px -571px;}
.mainLeft .naver li.ptyy.cur a{color: #fff; background:#0c5ca9 url(../img/iconbg23.png) 20px center  no-repeat;}
.mainLeft .naver li.ptyy:hover a{color: #fff; background:#0c5ca9 url(../img/iconbg23.png) 20px center  no-repeat;}
.mainLeft .naver li.zxfw a{background-position: 18px -669px;}
.mainLeft .naver li.zxfw.cur a{color: #fff; background:#0c5ca9 url(../img/iconbg25.png) 20px center  no-repeat;}
.mainLeft .naver li.zxfw:hover a{color: #fff; background:#0c5ca9 url(../img/iconbg25.png) 20px center  no-repeat;}
.mainLeft .naver li.zjbb a{background-position: 18px -105px}
.mainLeft .naver li.zjbb.cur a{color: #fff; background-color:#0c5ca9; background-position: 18px -138px}
.mainLeft .naver li.zjbb:hover a{color: #fff; background-color:#0c5ca9; background-position: 18px -138px}


/*.mainLeft .naver li.zjbb.cur a{color: #fff; background:#0c5ca9 url(../img/4.png) 20px center  no-repeat; background-size:22px 22px;}*/

.mainRightIframe{height: 100%; width: 85%; float: right;}
.mainRight{ background: #eef6fe; height: 100%;}
.mainRight .mainRightHeader{ height: 45px;width: 100%;background: #fff; border-bottom: 2px #85baf7 solid;}
.report{width: 98%; height: 88%; margin:10px auto}
.reportLeft{width: 20%;margin-left: 10px; height: 100%;}
.reportLeft-content{width: 100%;overflow: hidden;background: #fff;border: 1px #e7e6e6 solid; padding-bottom: 17px;}
.reportLeft ul{ border-bottom: 1px #E7E6E6 dashed; padding: 10px 0;overflow: hidden;}
.reportLeft li{line-height: 45px; padding-left: 42px;color: #999999;}
.reportLeft li img{position: relative;padding-right: 8px;top: 5px;}
.reportLeft ol{overflow: hidden;padding: 10px 0;}


.bg h2{ background: url(../img/bgIcon.png) no-repeat;color: #3f7cbc;font-size: 14px; line-height: 20px; padding-left:27px}
.bg h2 span{color: #2267b1;font-size:20px;}
.reportOne h2{background-position:5px -43px;}
.reportTwo > div h2 {background-position:0 -1263px ; padding-left: 23px;}
.reportLeft > h2 font{position:relative;top:-3px}
.reportLeft > h2{background-position:5px -43px}
.reportRight{width: 77%; margin-left: 1%;}
.mainRightHeader{padding-left: 10px; overflow: hidden;}
.mainRightHeader_tab{margin-left: 10px;}
.mainRightHeader_tab span{float: left; width: 97px;height: 28px; font-size: 14px;margin:17px 3px;border:1px #E7E6E6 solid;cursor:pointer;border-bottom:0;line-height: 28px;text-align: center; display: block;background: #eef6fe;color: #999;}
.mainRightHeader_tab span.cur,.mainRightHeader_tab span:hover{background: #85baf7;color: #d6e8fc;border: 1px #85BAF7 solid;border-bottom: 0;}
.spanCur {background: #85baf7;color: #d6e8fc;border: 1px #85BAF7 solid;border-bottom: 0;}
.mainRightHeader_searcher{margin:15px 0 0 20px;}
.mainRightHeader_searcher input[type='text']{padding-left:5px;width: 105px;height: 20px;border: 1px #E7E6E6 solid;border-radius: 10px;}
.mainRightHeader_searcher input[type='button']{background: url(../img/bgIcon.png) no-repeat;background-position:-3px -782px;padding-left:17px;margin-left:10px;border: 0;font-size: 14px;font-family: "寰蒋闆呴粦";color: #85add4;}
.reportContainer{background: #fff;border: 1px #E7E6E6 solid; position: relative; height:630px; padding:15px 0; line-height: 20px;margin-top: 2px;}
.reportTwo{margin-top: 20px;}
.downLoad{position: absolute;right: 10px;bottom: 5px; background: url(../img/bgIcon.png) no-repeat;background-position:-2px -1560px;padding-left: 20px;font-size: 14px;}
.downLoad a{color: #4d87c0;}
.reportTwo > div{width: 49%;}



.basicContent ul{border-bottom: 0; padding: 0;}
.basicContent ul li{ line-height: 20px; height: 72px; padding-left: 0;width: 95%;margin: 0 auto;border-bottom: 1px #E7E6E6 dashed;}
.basicContent ul li p{padding-top: 15px;text-align: center; font-size: 14px;}
.basicContent ul li p span{font-size: 18px;color: #333333;}
.basicContent ol{width: 100%;text-align: left; padding: 2px 0;}
.basicContent ol li {line-height: 20px;font-size: 12px; padding-left: 5px; margin: 5px 0;}



.mainRightTable{margin-top: 10px;width: 100%;}
.mainRightTable h3{font-size: 14px;color: #135dab; padding-left: 40px;line-height: 30px;}
.mainRightTable h3 span{font-size: 18px;}
.tabContent{background: #fff;overflow: hidden; border: 1px #E7E6E6 solid;padding-bottom: 10px; width: 95%; height:70%; margin: 0 auto;}
.searchResult table{text-align: center;font-size: 13px; width: 95%;margin: auto; line-height: 45px;}
.searchResult table thead tr td{font-size: 14px;background: url(../img/dot.jpg) bottom repeat-x; color: #6d9dcb;}
.searchResult table tbody tr td{ border-bottom: 1px #E7E6E6 dashed; color: #444444; line-height: 18px; padding: 5px 0;}
.searchResult table tbody tr td a{text-decoration: underline;color: #6d9dcb;}
.searchResult table tfoot tr td{text-align: center;}
.searchResult table tfoot tr td a,.searchResult table tfoot tr td span{margin: 0 5px;font-size: 14px;color: #6D9DCB;}
.searchResult table tfoot tr td select{border-radius: 10px;margin: 0 3px;border: 1px #ccc solid;}
.detail{width: 93%;margin: 0 auto;}
.detail ul li{width: 33%;font-size: 12px;color: #666666; float: left;line-height: 25px;}